ul{
  list-style: none;
  text-align: center;
}

ul li {
  float: left;
  padding: 0px 20px;
  text-align: center;
  font-size: x-large;
}

body{
	background-image: url("./../images/fondo.jpg");
	background-size: 100%;
	color: black;

}
table{
	color: black;
	font-size: large;
}
